on post-fs-data
    # reset sensitive props
    start safeprops
    start injectprops

service safeprops /system/bin/injectprop --sensitive-props
    user root
    seclabel u:r:su:s0
    oneshot

service injectprops /system/bin/sh /system/bin/injectprop.sh
    user root
    seclabel u:r:su:s0
    oneshot


on property:sys.boot_completed=1
    # reset sensitive props (late)
    start safeprops

